.dashboard{
    font-family: "Roboto";
    text-align: center;
}

.dashboard-heading{
    background-color: #83c5be;
    padding: 1rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-heading img{
    height: 80px;
    width: 80px;
}

.dashboard-heading-user-container{
    display: flex;
    align-items: center;
}

.logout-button {
    margin-left: 2rem;
    padding: 10px 12px;
    color: rgb(227, 11, 11);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: larger;
}

.logout-button:hover {
    background-color: #1c1a25;
}

.dashboard-container {
    display: flex;
    justify-content: space-between; 
    width: 90%;
    margin: 0 auto;
    padding: 2rem 2rem;
}

.component-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.component-container h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
} 

