.expense {
    margin-top: 3%;
    width: 80%;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s ease-in-out; /* For smooth fade-out when deleting */
}

.expense.fade-out {
    opacity: 0; /* Fade out effect for delete animation */
}

.expense-details {
    display: flex;
    flex-direction: column;
}

.expense-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
}

.expense-date {
    font-size: 1rem;
    color: #666;
    margin-top: 0.5rem;
}

.expense-amount {
    font-size: 1.8rem;
    font-weight: 700;
    color: #007bff;
}

.expense-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
}

.expense-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; 
}

.edit-button {
    color: #ffc107;
}

.delete-button {
    color: #dc3545;
}

.expense-button:hover {
    transform: scale(1.2); /* Zoom effect on hover */
}

.edit-button:hover {
    color: #ff9800; /* Darker yellow on hover */
}

.delete-button:hover {
    color: #e60000; /* Darker red on hover */
}

.lottie-animation {
    width: 100%;
    height: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 2; 
    scale: 3;
    
}
.expense-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}